{
    "compiler": "component",
    "name": "position",
    "version": "0.0.1",
    "author":"kylin.zhao,Hotel"
    "dependencies": {},
    "repository" : "通过geoloaction获取地理信息"
    "alias": {},
    "export": []
}


{
    "compiler": "component",
    "name": "PicZoom",
    "version": "0.0.1",
    "author":"qi.song,Hotel",
    "email":"qi.song@qunar.com",
    "dependencies": {},
    "repository":"git@gitlab.corp.qunar.com:qi.song/piczoom.git",
    "description" : "将图片缩放，计算出居中的位置",
    "alias": {},
    "export": []
}