{
    "compiler": "component",
    "name": "position",
    "version": "0.0.3",
    "author":"kylin.zhao,Hotel",
    "email":"kylin.zhao@qunar.com",
    "dependencies": {},
    "repository" : "git@github.com:kylinzhao/position.git",
    "description" : "通过geoloaction获取地理信息",
    "alias": {},
    "export": []
}